body{
    background-color: hsl(0, 0%, 11%);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

.calc-container{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    width: 350px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    box-shadow: -10px -10px 15px 2px rgba(0, 0, 0, .5);
}

.display{
    border: 1px solid hsl(0, 0%, 80%);
    width: 325px;
    height: 75px;
    flex-shrink: 0;
    margin-top: 16px;
    margin-bottom: 8px;
}

.buttons{
    border: 1px solid hsl(0, 0%, 80%);
    width: 325px;
    height: 425px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    
}

button{
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: hsl(0, 0%, 91%);
    background-color: transparent;
}

.prom{
    border-color: #1971c2;
}

.num{
    border-color: #a5d8ff84;
}

#displayText{
    overflow: hidden;
    
    text-align: right;
    margin: 20px;
    margin-top: 35px;
    margin-right: 15px;
    color:hsl(0, 0%, 95%);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.chuzzly{
    animation: .2s linear 0s pop-up;
    animation-iteration-count: 1;
}




@keyframes pop-up{
    from {
        transform: translateY(0px);
         
    }
    to {
        transform: translateY(-5px);
        background-color: #a5d8ff84;
    }
}

@keyframes pop-down{
    from {
        transform: translateY(-5px);
        background-color: #a5d8ff84;
    }

    to {
        transform: translateY(0px);
        background-color: transparent;
    }

}